*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --neutral: rgb(212, 212, 212);
  --wrong: rgb(68, 1, 1);
  --correct: rgb(1, 65, 1);
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--neutral);
}

body.correct {
  background-color: var(--correct);
}

body.wrong {
  background-color: var(--wrong);
}

.container {
  width: 800px;
  max-width: 80%;
  height: 300px;
  background-color: rgb(100, 211, 245);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}
#question {
  font-family: sans-serif;
  font-weight: bold;
  padding-top: 1em;
  font-size: 1.5em;
  text-align: center;
}
.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  background-color: var(--neutral);
  border: 1px solid black;
  background-color: rgb(194, 194, 194);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: black;
}

.btn.correct {
  background-color: var(--correct);
  color: white;
}

.btn.wrong {
  background-color: var(--wrong);
}

.start-btn,
.next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

html {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dfdfdf;
}
