*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --neutral: #719eb4;
  --wrong: #f65314;
  --correct: #7cbb00;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 60vh;
  justify-content: center;
  align-items: center;
  background-color: var(--neutral);
}

body.correct {
  background-color: var(--correct);
}

body.wrong {
  background-color: var(--wrong);
}

.container {
  width: 800px;
  max-width: 80%;
  height: 300px;
  border-radius: 5px;
  padding: 10px;
}
#question {
  font-family: sans-serif;
  font-weight: bold;
  padding-top: 1em;
  font-size: 2em;
  text-align: center;
}
.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  background-color: #ffbb00;
  border-radius: 8px;
  padding: 5px 10px;
  color: black;
  outline: none;
  font-size: 1.5em;
  box-shadow: white 1px 1px 2px 0px;
  border: none;
}

.btn:hover {
  background-color: #eefa4d;
}

.btn.correct {
  background-color: var(--correct);
  color: white;
}

.btn.wrong {
  background-color: var(--wrong);
}

.start-btn,
.next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #ffbb00;
  color: rgb(0, 0, 0);
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}
